:root {
    --primary: #2563eb;
    --dark: #1e293b;
    --gray: #64748b;
    --light: #f8fafc;
    --border: #e2e8f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--light);
    color: var(--dark)
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    allign-items: center;
    padding: 25px 0;
}

nav ul{
    display: flex;
    gap:25px;
    gap: 25px;
    list-style:none;
}

nav a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
}

nav a:hover{
    color: var(--primary);
}

.hero{
    text-align: center;
    padding: 80px 20px;

    .hero h1{
        font-size: 48px;
        margin-bottom: 10px;
    }

    .hero p{
        color: var(--gray);
    }

}